@CHARSET "UTF-8";
body{
	padding-top: 100px;
}
.login {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.login {
	padding-top: 15px;
	padding-bottom: 15px;
	border: #c0c0c0 1px solid;
}

.login .login-box {
	border-right: #c0c0c0 1px solid;
}

#slider {
	height: 36px;
	position: relative;
	padding-left: 80px;
    background:white;
}

#slider p {
	top: -5px;
	color: #aaa;
	position: absolute;
    width:120px;
    height:20px;
}

#slider a {
	top: 2px;
	height: 30px;
	width: 40px;
	margin-left: 2px;
	font-size: 20px;
	padding-left: 8px;
}