<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <!--手机api服务器访问地址-->
    <add key="queryUrl" value="https://m.kuaidi100.com/result.jsp?com={0}&amp;nu={1}" />
    <!--顺丰快递对应的编码-->
    <add key="顺丰速递" value="shunfeng"/>
    <add key="中通速递" value="zhongtong"/>
    <add key="申通快递" value="shentong"/>
  </appSettings>
</configuration>