<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" defaultCategory="TxtCategory" tracingEnabled="true" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="TxtLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="50" timeStampPattern="yyyy-MM-dd" fileName="Log\solution.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}-Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="4" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="TxtLogCategory">
        <listeners>
          <add name="TxtLogListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="LogCategory" value="TxtLogging"/>
    <add key="IsNoSP" value="True"/>
    <!--<add key="ConnectString" value="Data Source=2013-20140104GN;Initial Catalog=GeeStar;User ID=sa;Password=123456" />
    <add key="FactoryConnectString" value="Data Source=2013-20140104GN;Initial Catalog=JJ2011;User ID=sa;Password=123456" />-->
    <!--<add key="ConnectString" value="Data Source=120.25.250.208;Initial Catalog=GeeStar;User ID=ddsour;Password=ddsour" />
    <add key="FactoryConnectString" value="Data Source=120.25.250.208;Initial Catalog=JJ2011;User ID=ddsour;Password=ddsour" />
    <add key="ConnectString" value="Data Source=114.215.100.88;Initial Catalog=GeeStar;User ID=sa;Password=jcf08"/>-->
    <add key="ConnectString" value="Data Source=118.190.20.125;Initial Catalog=GeeStar;User ID=sa;Password=J!Xshn8081"/>
    <add key="FactoryConnectString" value="Data Source=118.190.20.125;Initial Catalog=JJ2011;User ID=sa;Password=J!Xshn8081"/>
    <add key="CheckPass" value="1"/>
    <add key="token" value="token"/>
    <add key="corpId" value="wx094afc3d1b1ff9d7"/>
    <add key="encodingAESKey" value="cDxcUZVz9wOydP1SYr2cBnjLz5o74TOf9TIov2nAstU"/>
    <add key="corpsecret" value="Wh_VwhyEp4aKdaE3oPbQxqABAW4NYvd4tCFQTa8wrFZJnTSQp50y4n2SVLklNaHS"/>
    <!--<add key="FactoryConnectString" value="Data Source=114.215.100.88;Initial Catalog=JJ2011;User ID=sa;Password=jcf08"/>-->
    <add key="priKeyPath" value="D:\\certs\\MerPrK_808080301501009_20151231134610.key"/>
    <add key="pubKeyPath" value="D:\\certs\\PgPubk.key"/>
    <!-- ##########################交易发送地址配置#############################-->
    <!--######(以下配置为PM环境：入网测试环境用，生产环境配置见文档说明)#######-->
    <!-- 签名证书路径 PM_700000000000001_acp.pfx jxydpay.cer https://101.231.204.80:5000-->
    <!-- 前台交易地址 -->
    <add key="sdk.signCert.path" value="D:\\certs\\jx_signb2c.pfx"/>
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="dljxyd123506"/>
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12"/>
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="D:\\certs\\cpb2c.cer"/>
    <!-- 验签证书目录 -->
    <add key="sdk.validateCert.dir" value="D:\\certs\\"/>
    <add key="sdk.frontTransUrl" value="https://payment.chinapay.com/CTITS/service/rest/page/nref/000000000017/0/0/0/0/0"/>
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://gateway.95516.com/gateway/api/backTransReq.do"/>
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://gateway.95516.com/gateway/api/queryTrans.do"/>
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://filedownload.95516.com/"/>
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://gateway.95516.com/gateway/api/batchTrans.do"/>
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://gateway.95516.com/gateway/api/cardTransReq.do"/>
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://gateway.95516.com/gateway/api/appTransReq.do"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="D2012.Domain.Entities"/>
        <add namespace="Weixin"/>
        <add namespace="D2012.Common"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
    </httpModules>
    <httpRuntime maxRequestLength="20971510" requestValidationMode="2.0" executionTimeout="3600"/>
    <identity impersonate="true"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="asyn2" path="*.asyn" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="roomchat" path="comet_broadcast.asyn" type="AsnyHandler" verb="POST,GET"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- Increased maxAllowedContentLength from default of 300MB. -->
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <modules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>